body {
	font-size: 14px;
    line-height: 1.8;
    color: black;
    font-weight: 400;
    font-family: 'Montserrat';
    background-repeat: no-repeat;
    @include background-size(cover);
    background-position: center center;
    padding: 115px 0;
}