<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>movie</param-name>
		<param-value>sholey</param-value>
	</context-param>
	<servlet>
		<servlet-name>myFirstServelet</servlet-name>
		<servlet-class>com.covalense.mywebapp.servlets.MyFirstServlet</servlet-class>
		<init-param>
			<param-name>actor</param-name>
			<param-value>gabbar</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>myJsp</servlet-name>
		<jsp-file>/MyFirstJsp.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>myJsp</servlet-name>
		<jsp-file>/TagsExample.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>RedirectServlet</servlet-name>
		<display-name>RedirectServlet</display-name>
		<description></description>
		<servlet-class>com.covalense.mywebapp.servlets.RedirectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForwardServelet</servlet-name>
		<display-name>ForwardServelet</display-name>
		<description></description>
		<servlet-class>com.covalense.mywebapp.servlets.ForwardServelet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IncludeServlet</servlet-name>
		<display-name>IncludeServlet</display-name>
		<description></description>
		<servlet-class>com.covalense.mywebapp.servlets.IncludeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateCookieServlet</servlet-name>
		<display-name>CreateCookieServlet</display-name>
		<description></description>
		<servlet-class>com.covalense.mywebapp.servlets.CreateCookieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadCookieServlet</servlet-name>
		<display-name>ReadCookieServlet</display-name>
		<description></description>
		<servlet-class>com.covalense.mywebapp.servlets.ReadCookieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myFirstServelet</servlet-name>
		<url-pattern>/currentDate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/RedirectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForwardServelet</servlet-name>
		<url-pattern>/ForwardServelet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForwardServelet</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IncludeServlet</servlet-name>
		<url-pattern>/IncludeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateCookieServlet</servlet-name>
		<url-pattern>/CreateCookieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadCookieServlet</servlet-name>
		<url-pattern>/ReadCookieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myJsp</servlet-name>
		<url-pattern>/currentDateJsp</url-pattern>
	</servlet-mapping>

</web-app>
